<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>big_bonuses.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>126</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>invaders.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>small_bonuses.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>180</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>