<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>alien_shots.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>20</integer>
			<key>width</key>
			<integer>9</integer>
			<key>height</key>
			<integer>15</integer>
			<key>offsetX</key>
			<real>-27.5</real>
			<key>offsetY</key>
			<real>24.5</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>aliens.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>320</integer>
			<key>width</key>
			<integer>505</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>background.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>big_bonus.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>381</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>shield_piece.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>ship.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>475</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>43</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>shot.png</key>
		<dict>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>5</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>5</integer>
			<key>originalHeight</key>
			<integer>16</integer>
		</dict>
		<key>small_bonus.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>434</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>11.5</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>